description = "Footer"

[viewBag]
==
<!--Footer-->
<footer class="page-footer center-on-small-only">


    <hr>



    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © {{ 'now'|date('Y') }} Copyright: synemastudios.com

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->

<script src="{{ [
        'assets/js/jquery-3.2.1.min.js',
        'assets/js/popper.js',
        'assets/js/bootstrap.min.js',
        'assets/js/mdb.min.js'
    ]|theme }}"></script>

    {% framework extras %}
    {% scripts %}

<script>
    new WOW().init();
</script>

</body>
</html>